.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--black-background);
    padding: 1rem 2rem;
    width: 100%;
    position: relative;
    z-index: 100;
  }
  
  .menuToggle {
    display: none;
    cursor: pointer;
    z-index: 101;
    color: white;
  }
  
  .image {
    width: 7rem;
    height: auto;
    z-index: 100;
  }
  
  .list {
    display: flex;
    list-style: none;
    gap: 1.5rem;
  }
  
  /* Estilos para mobile */
  @media (max-width: 768px) {
    .menuToggle {
      display: block;
      
    }
  
    .list {
      position: fixed;
      top: 0;
      left: -100%;
      width: 70%;
      height: 100vh;
      background: #33088b;
      flex-direction: column;
      padding: 5rem 1rem;
      transition: all 0.3s ease;
      z-index: 99;
    }
    .image {
        width: 6rem;
        height: auto;
        z-index: 100;
      }
  
    .listOpen {
      left: 0;
    }
  
    .menuOverlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 0;
      height: 100vh;
      background: rgba(0, 0, 0, 0.123);
      z-index: 98;
      opacity: 0;
      transition: all 0.3s ease;
    }
  
    .overlayOpen {
      width: 100%;
      opacity: 1;
    }
  }