.btn {
  margin-top: auto;
  /* Push to bottom if in flex column */
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn a {
  background-color: var(--primary);
  border-radius: 8px;
  /* Matching other radius */
  border: none;

  line-height: 1.5;
  font-size: 1rem;
  padding: 0.8em 2em;
  text-decoration: none;
  color: #fff;
  font-weight: 600;

  display: inline-block;
  transition: all 0.2s ease;
  box-shadow: 0 4px 14px 0 rgba(93, 23, 233, 0.39);
}

.btn a:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(93, 23, 233, 0.23);
  background-color: #4a12ba;
}

/* Ajuste o tamanho, padding e margin-top do botão para dispositivos móveis */
@media (max-width: 768px) {
  .btn a {
    padding: 0.5em 2em;
    /* Reduz o padding para tornar o botão menor */
    font-size: 0.8em;
    /* Reduz o tamanho da fonte para telas menores */
    line-height: 20px;
    /* Ajusta o line-height para corresponder ao tamanho reduzido */
    margin-top: 1.5em;
    /* Adiciona margin-top para afastar o botão do topo */
  }
}

@media screen and (min-width: 768px) {
  .btn a {
    line-height: 16px;
    text-align: center;
  }
}



.svg-inline--fa.fa-w-14 {
  width: .875em;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}